<div id="aboutUs">
  <div class="container ourTeam" id="ourTeam">
    <br><br><br>
    <h1>Meet Our Team</h1>
    <hr>
    <div class="container teamMember">
      <div class="row">
        <div class="col-lg-5">
          <img src="/images/Juvy.jpg" />
        </div>
        <div class="col-lg-7">
          <h2>Juvy Castro</h2>
          <h4>Manager/Owner</h3>
          <p>
            My name is Juvy Castro. I am the youngest of 10 siblings. I have 2 
            children. My son is in the service, and my daughter recently went into
            the nursing program. I have a Bachelor's of Science in Nursing from 
            the Philippines. I was a Certified Nursing Assistant (CNA) for 5 years.
          </p>
          <p> My motto: "Health is Wealth"</p>
        </div>
        <hr>
      </div>
    </div>
    <hr>
    <div class="container teamMember">
      <div class="row">
        <div class="col-lg-5">
          <img src="/images/Marissa.jpg" />
        </div>
        <div class="col-lg-7">
          <h2>Marissa C. Bongato</h2>
          <h4>Caregiver</h3>
          <p>
            My name is Marissa C. Bongato. I am the 5th of 7 siblings. I am a single
            mother of a 15-year-old boy. I have a Bachelor's Degree in Computer Secretarial
            and Computer Programming. I also took 2 years or courses in Nursing at
            University of Pangasinan, Philippines. I am a Phlebotomy Technician with 
            certification from the Universal School Colleges, USA. I am currently working as 
            a Phlebotmist at Palomar Medical Center (PPH). I previously worked as an Assistant
            Secretary for 2 years in one of the biggest bottling companies in the Philippines.
            I have 17 years of previous experience in the Medical field. I worked at Tri-City 
            Medical Center for 8 years as a CNA. I also worked at various facilities as a Caregiver.
          </p>
          <p> My motto: "Always remain focused on what it is that you’re trying to accomplish"</p>
        </div>
        <hr>
      </div>
      <hr>
      <div class="container teamMember">
          <div class="row">
            <div class="col-lg-5">
              <img src="/images/Marilyn.jpg" />
            </div>
            <div class="col-lg-7">
              <h2>Marilyn T. Cerezo</h2>
              <h4>Caregiver</h3>
              <p>
                My name is Marilyn T. Cerezo. I am a single mother of 4 children. I graduated from 
                Culiat High School in the Philippines. I also completed a 2-year course in Management
                from New Era University, Philippines. I also completed a 1-year course in Vocational
                Computers from AMA Vocational School, Philippines. I am a dedicated and devoted caregiver.
                I have worked in the Medical field for 13 years in Nursing and Rehabilitation Care, of which
                11 years has been in the caregiving for the elderly.
              </p>
              <p> My motto: "Always be patience and give love to your patient"</p>
            </div>
            <hr>
          </div>
      </div>
      <hr>
      <div class="container teamMember">
          <div class="row">
            <div class="col-lg-5">
              <img src="/images/Maricris.jpg" />
            </div>
            <div class="col-lg-7">
              <h2>Maricris C. Foster</h2>
              <h4>Caregiver</h3>
              <p>
                My name is Maricris C. Foster. I was born and raised in the Philippines. 
                I have diploma in Business Management. I ran my own business back in the Philippines. 
                I also have a 6-month degree in Caregiving with certifications taken in the Philippines.
                I used these certifications to work in various countries like Malaysia, Hong Kong, 
                Singapore and Dubai. I am now currently employed as an independent caregiver here in the USA.  
                I have 15 years of caregiving experience with the elderly.
              </p>
              <p> My motto: "If you want something you've never had, then you've got to do
                something you've never done"
              </p>
            </div>
          </div>
      </div>
      <hr>
      <div class="container teamMember">
          <div class="row">
            <div class="col-lg-5">
              <img src="/images/Rotche.jpg" />
            </div>
            <div class="col-lg-7">
              <h2>Rotche Johnson</h2>
              <h4>Caregiver</h3>
              <p>
                My name is Rotche Johnson. I was born in the Philippines. I have 
                eleven siblings,one daughter and a loving husband. We have been married for
                19 years. I was educated in my hometown of Leyte. I have been living
                in the US since 2001. I have been in the caregiving profession for 
                13 years. I am also a CNA. I love my profession working with the elderly
                community. I am a very kind, compassionate, loving, and devoted worker. 
                I would enjoy working for you. Our goal is to give the highest 
                quality of care possible.
              </p>
              <p> My motto: "If you love you job, they will love you back."
              </p>
            </div>
          </div>
      </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
