<div id="contact" v-cloak>
  <div class="container">
    <br><br>
    <h1 class="text-center" style="color:rgb(111, 169, 255);">Contact Us Today!</h1>
    <p class="text-center">Have any questions? We would love to hear from you.</p>
  <hr>
  <div class="row">
  <div class="col-lg-8">
    <h2 class="text-center">Service Schedule</h2>
    <p class="text-center">
      Hourly -- minmum of 5 hours per visit
    </p>
    <p class="text-center">
      Live In -- minimum of 3 days per week
    </p>
    <h2 class="text-center">Service Fee</h2>
    <p class="text-center">Fees depend on the condition, needs, and requirementsof the patient/client.</p>
    <hr>
    <p class="text-center" style="font-style: italic">
      Services are available 24 hours per day, 7 days per week (including holidays). Relievers
      and replacements are included in our services. To setyp service, a 2-day notice is appreciated.
    </p>
  </div>
  <div class="col-lg-4">
    <p style="color:darkred;">Email: lovingangels5@yahoo.com</p>
    <p style="color:darkred;">Call for a complementary assessment: (619)988-5218</p>
    <p style="color:darkred;">Marycris Foster (858)442-5529</p>
    <p style="color:darkred;">Marissa Bongato (760)443-6132</p>
    <p style="color:darkred;">Rotche Johnson (619)988-5218</p>
    <p style="color:darkred;">Marlyn Cerezo (858)888-3415</p>
    <p style="color:darkred;">Juvy Castro (858)442-5528</p>
  </div>
</div>
<hr>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
