<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div class="hero-image">
  <div class="hero d-flex flex-column justify-content-center" full-page-hero 
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/HeroBG.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  color:white;">
    <div class="container text-center">
    <div class="hero-text">
      <h1 style="color: white;
      font-size: 5em;
      margin-top: 0;
      margin-bottom: 0;">Loving Angels</h1>
      <h1 style="color: white;
      font-size: 5em;
      margin-top: 0;
      margin-bottom: 0;">Senior Care Agency</h1>
      <p style="font-style: italic">Freedom is keeping you in the comfort of your own home</p>
    </div>
    <div>
      <div class="more-info-text" @click="clickHeroButton()">
        <div class="text" style="color:rgb(111, 169, 255)">Dive in</div>
        <div class="icon" style="color:rgb(111, 169, 255)">&darr;</div>
      </div>
    </div>
  </div>
    </div>
  </div>
  <div class="about-wrapper" role="scroll-destination" ></div>
  <div style="background-color: gainsboro;">
    <div class="container">
      <br><br>
      <div class="about text-center">
        <h1 style="font-weight: bold; color:darkred;">Welcome to Loving Angels Senior Care</h1>
        <br><br>
      </div>
    <div>
        <h4>Our Mission:</h4>
        <p>We are dedicated to serving our clients and communities
          with exemplary homecare through our professional, caring, 
          and experienced staff.
        </p>
        <p>
          Your desire is our promise.
        </p>
      </div>
      <div>
        Maintaining a strong mind through mental exercise is critical
        to seniors' overall well-being. We invigorate client's mind through
        conversations, reminiscing, story telling, and other activities. We 
        encourage healthy eating. We ensure that our clients consistently eat a 
        nutrient-rich, well-balanced diet.
      </div>
      <br><br>
    </div>
      <!-- <div class="features text-center" style="color:rgb(111, 169, 255)">
        <div class="row">
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon" style="background-color:darkred;">
              <i class="fas fa-cutlery"></i>
            </div>
            <h4>Well-balanced diet</h4>
          </div>
          <div class="feature pt-4 pt-sm-0 mb-4 mb-sm-0 col-sm">
            <div class="icon"  style="background-color:darkred;">
              <i class="fas fa-heart"></i>
            </div>
            <h4>Health</h4>
          </div>
          <div class="feature pt-4 pt-sm-0 col-sm">
            <div class="icon"  style="background-color:darkred;">
              <i class="fas fa-book"></i>
            </div>
            <h4>Mental Stimulation</h4>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="setup">
      <br><br>
      <h1 class="text-center" style="font-weight:bold; color:rgb(111, 169, 255)">Our Clients</h1>
    </br></br></br>        
      <div class="row">
            <div class="col-lg-5">
              <img alt="our clients" src="/images/OurClients.jpg" height="300px" width="400px"/>
            </div>
            <div class="col-lg-7">
              <h5>We offer personalized care and comfort to elders who are:</h5>
              <p>&emsp;In need of assistance with daily living activies</p>
              <p>&emsp;Living alone or at risk</p>
              <p>&emsp;Disabled or wheelchair-bound</p>
              <p>&emsp;Recovering from surgery or illness</p>
              <h5>We offer respite care for family caregivers</h5>
              <p>Our objective is to 
              consistently exceed our client's expectations by building caregiver-client
              relationships through personalized attention and care.
              </p>
              </br></br></br></br>
          </div>
      </div>
    </div>
  </div>
    <div class="about-wrapper" style="background-color: gainsboro;">
      <div class="container">
        </br></br></br>
          <h1 class="text-center" style="font-weight:bold; color:darkred;">Our Services</h1>
        </br></br></br>
        <div class="row">
          <div class="col-lg-5">
            <img alt="our clients" src="/images/OurServices.jpg" height="300px" width="400px"/>
          </div>
          <div class="col-lg-7">
            <h5>Service provided include:</h5>
            <p>&emsp;Companionship</p>
            <p>&emsp;Personal grooming/dressing</p>
            <p>&emsp;Medical and dental appointments -- transportation</p>
            <p>&emsp;Mobility assistance</p>
            <p>&emsp;Overnight stays -- 24 hour care</p>
            <p>&emsp;Light housekeeping</p>
            <p>&emsp;Respite for family caregivers</p>
            <p>&emsp;Meals preparations</p>
            <p>&emsp;Transportation -- errands</p>
            </p>
            <p style="color:darkred;">Click <span class="text-muted">&hearts;</span> <a href="/contactus" style="color:rgb(111, 169, 255); text-decoration: none;">
              here</a> or call Rotche Johnson at (619)988-5218 to schedule a complementary assessment today</p>
            </br></br></br></br>
          </div>
        </div>
      </div>
    </div>
      <div class="setup" id="meetOurTeam" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/MeetOurTeam.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      height: 100%;
      color:white;">
        <div class="container">
          <div class="pep-talk text-center" >
            <br>
            <h3>Meet our team</h3>
            <p>We thank you for visiting our website. Please click on the link below to meet the team.</p>
            <p><span class="text-muted">&hearts;</span> <a href="/aboutus" style="color:rgb(111, 169, 255);">The Loving Angels Team</a></p>
            <br>
          </div>
        </div>
      </div>
    </div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
